{% extends 'base.html' %}
{% block title %} Detalles User History{% endblock %}
{%block content %}
<center><strong><font face="Comic Sans MS"><h3> DETALLES DEL USER HISTORY "{{ userhistory.nombre }}" </h3></font></strong></center><br>
{% if ver_user_history or mod_user_history or eliminar_user_history or add_comment or asignar_encargado or asignar_flujo or asignar_sprint%}
<form action="." method="POST">
         {% csrf_token %}
<table class="table table-bordered">
	      <thead>
	        <tr>
	             <th class="titulo"><b><strong><span style="color:#330099">NOMBRE</strong></b></th>
                <th class="titulo"><b><strong><span style="color:#330099">DESCRIPCION</strong></b></th>
	             <th class="titulo"><b><strong><span style="color:#330099">ESTADO</strong></b></th>
		     <th class="titulo"><b><strong><span style="color:#330099">TIEMPO ESTIMADO</strong></b></th>
                <th class="titulo"><b><strong><span style="color:#330099">VALOR TECNICO</strong></b></th>
                <th class="titulo"><b><strong><span style="color:#330099">VALOR NEGOCIO</strong></b></th>
                <th class="titulo"><b><strong><span style="color:#330099">ENCARGADO</strong></b></th>
                <th class="titulo"><b><strong><span style="color:#330099">FLUJO</strong></b></th>
                <th class="titulo"><b><strong><span style="color:#330099">SPRINT</strong></b></th>
	        </tr>
	      </thead>
              <tbody>
		 <tr>
		      
                          <td><strong>{{userhistory.nombre}}</strong></td>
                            <td><strong>{{userhistory.descripcion}}</strong></td>
                          <td><strong>{{userhistory.estado}}</strong></td>
		                <td><strong>{{userhistory.tiempo_estimado}}</strong></td>
                        <td><strong>{{userhistory.valor_tecnico}}</strong></td>
                        <td><strong>{{userhistory.valor_negocio}}</strong></td>
                        {% if userhistory.encargado %}
                            <td><strong>{{userhistory.encargado}}</strong></td>
                        {% else %}
                            <td><strong>{{" "}}</strong></td>
                        {% endif %}
                        {% if userhistory.flujo %}
                            <td><strong>{{userhistory.flujo}}</strong></td>
                        {% else %}
                            <td><strong>{{" "}}</strong></td>
                        {% endif %}
                        {% if userhistory.sprint %}
                            <td><strong>{{userhistory.sprint}}</strong></td>
                        {% else %}
                            <td><strong>{{" "}}</strong></td>
                        {% endif %}
	           </tr>
		</tbody>
	  </table>
   </form>
    <table class="table table-bordered">
	      <thead>
	        <tr>
	             <th class="titulo"><b><strong><span style="color:#330099">TRABAJO</span></strong></b></th>
	             <th class="titulo"><b><strong><span style="color:#330099">DESCRIPCION</span></strong></b></th>
	             <th class="titulo"><b><strong><span style="color:#330099">HORAS</span></strong></b></th>
	        </tr>
	      </thead>
              <tbody>
         {%for comment in comments%}
             <tr>
                 <td><strong>{{comment.asunto}}</strong></td>
                 <td><strong>{{comment.descripcion}}</strong></td>
                 <td><strong>{{comment.horas}}</strong></td>
             </tr>

         {% endfor %}
         </tbody>
	  </table>
         <table class="table table-bordered">
	      <thead>
	        <tr>
                <th class="titulo"><b><strong><span style="color:#330099">ARCHIVOS ADJUNTOS</span></strong></b></th>
                </tr>
	      </thead>
              <tbody >
         {%for a in adjuntos%}
         <tr >
             <td><strong>{{a.nombre}}</strong></td>
             <td><a class="btn btn-primary" href="/desAdjuntos/adjunto&id={{userhistory.id}}&&archivo&id={{a.id}}"><strong>DESCARGAR</strong></a></td>
         </tr>
         {% endfor %}
		</tbody>
	  </table>


   <div class="footer">
           <div class="volver">
		<th class="titulo"><b><strong><span style="color:#330099">ACCIONES</strong></b></th><br>
		<td>
			{% if eliminar_user_history and not proyEnd%}
                      <a class="btn btn-primary" href="/eliminarUserHistory/del&id={{userhistory.id}}/"><strong>ELIMINAR</strong></a>
			{% endif %}
			{% if mod_user_history and not proyEnd%}
				<a class="btn btn-primary" href="/modificarUserHistory/mod&id={{userhistory.id}}/"><strong>MODIFICAR</strong></a>
            {% endif %}
            {% if asignar_encargado and not proyEnd%}
				<a class="btn btn-primary" href="/encargadoUserHistory/us&id={{userhistory.id}}/"><strong>ASIGNAR ENCARGADO</strong></a>
            {% endif %}
            <!--{% if asignar_sprint %}-->
				<!--<a class="btn btn-primary" href="/sprintUserHistory/us&id={{userhistory.id}}/"><strong>ASIGNAR A SPRINT</strong></a>-->
            <!--{% endif %}-->
            <!--{% if asignar_flujo %}-->
				<!--<a class="btn btn-primary" href="/flujoUserHistory/us&id={{userhistory.id}}/"><strong>ASIGNAR A FLUJO</strong></a>-->
            <!--{% endif %}-->

			   </td><br><br>
		<a class="btn btn-primary" href="/userHistory/proyecto&id={{userhistory.proyecto.id}}/"><strong> VOLVER </strong> </a>&nbsp;&nbsp;
           </div>
     </div>
{% else %}
<center><strong><font face="Comic Sans MS">NO TIENES PERMISOS</font></strong></center><br>
{% endif %}
{% endblock %}
