{% extends 'base.html' %}
{% block title %} Detalles Rol{% endblock %}
{%block content %}
{%ifequal usuariorol.categoria 1 %}
<center><strong><font face="Comic Sans MS"><h3> DETALLES DEL ROL DEL SISTEMA "{{ rol.nombre }}" </h3></font></strong></center><br>
{% else %}
<center><strong><font face="Comic Sans MS"><h3> DETALLES DEL ROL DE PROYECTO "{{ rol.nombre }}" </h3></font></strong></center><br>
{% endifequal %}

<form action="." method="POST">
         {% csrf_token %}
<table class="table table-bordered">
	      <thead>
	        <tr>
	             <th class="titulo"><b><strong><span style="color:#330099">NOMBRE</strong></b></th>
	             <th class="titulo"><b><strong><span style="color:#330099">DESCRIPCION</strong></b></th>
		     <th class="titulo"><b><strong><span style="color:#330099">FECHA Y HORA DE CREACION</strong></b></th>
		     <th class="titulo"><b><strong><span style="color:#330099">RESPONSABLE</strong></b></th>
	             <th class="titulo"><b><strong><span style="color:#330099">ACCIONES</strong></b></th>
	        </tr>
	      </thead>
              <tbody>
		 <tr>
		      
                          <td><strong>{{rol.nombre}}</strong></td>
                          <td><strong>{{rol.descripcion}}</strong></td>
		          <td><strong>{{rol.fecHor_creacion}}</strong></td>
			  <td><strong>{{rol.usuario_creador}}</strong></td>
		          <td>
			
                                <a class="btn btn-primary" href="/"><strong>ELIMINAR</strong></a>
				<a class="btn btn-primary" href="/modificarRol/mod&id={{rol.id}}/"><strong>MODIFICAR</strong></a>
				<a class="btn btn-primary" href="/roles/permisos&id={{rol.id}}/"><strong>ASIGNAR PERMISOS</strong></a>   
                            	
			   </td>
		        
	           </tr>
		</tbody>
	  </table>
   </form>

   <div class="footer">
           <div class="volver">
                <a class="btn btn-primary" href="/roles"><strong> VOLVER </strong> </a>&nbsp;&nbsp;
           </div>
     </div>
{% endblock %}
