{% extends "base.html" %}
{% block title %} Modificar Usuario{% endblock %}
{% block content %}
<center><strong><font face="Comic Sans MS"><h3> ELIMINAR USUARIO </h3></font></strong></center>
{% if mensaje %}
   {% autoescape off %}
      <center><p><h4> SE HA PRODUCIDO EL SIGUIENTE INCONVENIENTE: </h4></p><br>
                  <h4><p><em> {{ mensaje }} </em></p></h4>
      </center>
   {% endautoescape %}
       <br><center><input type="button" class= "btn btn-primary" value="CANCELAR" onClick = "location.href='/' "/></center>
{% else %}
<form action="." method="POST">
	{% csrf_token %}
	<center><table>
	{{ form.as_table }}
	</table><br>
	<h4><strong>¿ESTÁS SEGURO DE QUERER ELIMINAR AL USUARIO: "{{usuario.username}}"?</strong></h4><br>
	<button class="btn btn-primary" type="submit"> SI </button>
         &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class= "btn btn-primary" value="NO" onClick = "location.href='/admin' "/></center>
</form>
{% endif %}
{% endblock%}
