{% extends "base.html" %}
{% block title %}Usuarios{% endblock %}
{% block content %}
<center><strong><font face="Comic Sans MS"><h3> ADMINISTRACIÓN DE USUARIOS</h3></font></strong></center><br>
   <form action="." method="POST">
         {% csrf_token %}

                    <p colspan="3">
                        {{form.filtro.label}}: {{form.filtro}}
		    
                        {{form.paginas.label}}: {{form.paginas}}
                        <input type="submit" name="Buscar" class= "btn btn-primary" value="ACEPTAR"/>
                    </p>
              
		<table class="table table-bordered">
	      <thead>
	        <tr>
		     <th class="titulo"><b><strong><span style="color:#6666FF"><strong><font face="Comic Sans MS">LISTA DE USUARIOS</font></strong></b></th>
	        </tr>
	      </thead>
              <tbody>
	      {%for i in pag.object_list%}
		   <tr>
                          <td><a href="/"><strong><span style="color:#6666FF">*</span>&nbsp;&nbsp;<span style="color:#111111">{{i.username}}</span></strong></td>
	           </tr>
	    {% endfor %}
            </tbody>
	  </table>
   </form>

<a colspan="3">
                    <br><strong><span style="color:#111111"><h4>Página {{ pag.number }} de {{ pag.paginator.num_pages }}</h4><strong><br>
                    {% if pag.has_previous %}
                       <a class="btn btn-primary" href="?page={{ pag.previous_page_number }}"><strong>&nbsp;&nbsp;ANTERIOR </strong></a>
                    {% endif %}
                    {% if pag.has_next %}
                       <a class="btn btn-primary" href="?page={{ pag.next_page_number }}"><strong > SIGUIENTE &nbsp;&nbsp; </strong></a>
                    {% endif %}
    </a><br><br>
  
      <div class="footer">
           <div class="volver">
                <a class="btn btn-primary" href="/"><strong> VOLVER A LA PÁGINA PRINCIPAL</strong> </a>&nbsp;&nbsp;
                <a class="btn btn-primary" href="/crear"><strong>CREAR NUEVO USUARIO </strong></a>
           </div>
     </div>
{% endblock %}
