{% extends 'base.html' %}
{% block title %} Usuario{% endblock %}
{%block content %}
<center><strong><font face="Comic Sans MS"><h3> DETALLES DEL USUARIO "{{ usuario.username }}" </h3></font></strong></center><br>
{% if mod_usuario or eliminar_usuario or asignar_roles%}
<form action="." method="POST">
         {% csrf_token %}
<table class="table table-bordered">
	      <thead>
	        <tr>
		     <th class="titulo"><b><strong><span style="color:#330099">USUARIO</strong></b></th>
	             <th class="titulo"><b><strong><span style="color:#330099">NOMBRE</strong></b></th>
	             <th class="titulo"><b><strong><span style="color:#330099">APELLIDO</strong></b></th>
		         <th class="titulo"><b><strong><span style="color:#330099">EMAIL</strong></b></th>
                 <th class="titulo"><b><strong><span style="color:#330099">ESTADO</strong></b></th>
	             <th class="titulo"><b><strong><span style="color:#330099">ACCIONES</strong></b></th>
	        </tr>
	      </thead>
              <tbody>
		 <tr>
		      
                          <td><strong>{{usuario.username}}</strong></td>
                          <td><strong>{{usuario.first_name}}</strong></td>
		          <td><strong>{{usuario.last_name}}</strong></td>
			  <td><strong>{{usuario.email}}</strong></td>
                <td><strong>{{usuario.is_active}}</strong></td>
		       {% ifequal usuario.id 1 %}
		          <td><strong>SUPERUSUARIO</strong></td>
		       {% else %}
		          {% ifnotequal usuario.username user.username %}
		             <td>
                         {% ifequal usuario.is_active True %}
				{% if eliminar_usuario %}
                                <a class="btn btn-primary" href="/"><strong>ELIMINAR</strong></a>
				{% endif %}				
				{% if mod_usuario %}
				<a class="btn btn-primary" href="/modificar/mod&id={{usuario.id}}/"><strong>MODIFICAR</strong></a>
                         {% endif %}
                         {% else %}
                         <a class="btn btn-primary" href="/activar/act&id={{usuario.id}}"><strong>ACTIVAR</strong></a>
			        {% endifequal %}
                     </td>
		          {% endifnotequal %}
		       {% endifequal %}
	           </tr>
		</tbody>
	  </table>
   </form>

   <div class="footer">
           <div class="volver">
                <a class="btn btn-primary" href="/admin"><strong> VOLVER </strong> </a>&nbsp;&nbsp;
           </div>
     </div>
   {% else %}
	<center><p><strong>NO TIENE PERMISO</strong></p></center>
   {% endif %}
{% endblock %}
