{% extends 'base.html' %}
{% block title %} Tablero Kanban{% endblock %}
{%block content %}

<form action="." method="POST">
    {% csrf_token %}
    <table class="table table-bordered" cellpadding="1" cellspacing="1">
        <thead>
            <tr>
                <td bgcolor="blue"><strong><span style="color:#FFFFFF"><center>BACKLOG</center></span></strong></td>
                {%for sp in sprint%}
                    <td bgcolor="blue"><strong><span style="color:#FFFFFF"><center>{{sp.nombre}}</center></span></strong></td>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {%for key,value in dict.items%}
            {%for key1,value1 in value.items%}
                {%for key2,value2 in value1.items%}
                    <tr>
                        {%for rec in value2%}
                            {%if rec.0%}
                            <td><div class="btn-group">
                                <a href="/verUserHistory/ver&id={{key2}}/"><span style="color:#2702E1"><button type="button" class="btn btn-primary" >{{rec.0}}</button><button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"></a>
                                <span class="caret"></span>
                                <span class="sr-only"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">

                                      {% if rec.1 == 'pendiente' or rec.1 == 'reasignar' and notSprintInit%}
                                            {% ifequal key 'BACKLOG' %}
                                                <li><a href="/sprintUserHistory/us&id={{key2}}/"><span style="color:#2702E1">* ASIGNAR A SPRINT</span></a></li>
                                            {% endifequal %}
                                            {% ifequal rec.1 'pendiente' %}
                                                <li class="divider"></li>
                                                <li><a href="/flujoUserHistory/us&id={{key2}}/"><span style="color:#2702E1">* ASIGNAR A FLUJO</span></a></li>
                                            {% endifequal %}
                                            {% ifnotequal key 'BACKLOG' %}
                                                {% if rec.1 == 'reasignar' %}
                                                    <li class="divider"></li>
                                                    <li><a href="/reasignar/us&id={{key2}}"><span style="color:#2702E1">* REASIGNAR A SPRINT</span></a></li>
                                                {% endif %}
                                            {% endifnotequal %}
                                            <!--<li class="divider"></li>-->
                                            <!--<li><a href="/"><span style="color:#2702E1">* </span></a></li>-->
                                        {% endif %}


                                </ul>
                            </div></td>
                            {% else %}
                                <td></td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
		</tbody>
    </table>

    <center><strong><font face="Comic Sans MS"><h3> TABLA KANBAN </h3></font></strong></center>

    {%for flujo in listflu%}
        <center><strong><font face="Comic Sans MS"><h3> "{{ flujo.nombre }}" DEL "{{proyecto.nombrelargo}}"</h3></font></strong></center><br>
        <table class="table table-bordered" cellpadding="1" cellspacing="1">
            <tr>
            {%for key,listAct in dictAct.items%}
                {% if key == flujo.nombre %}
                    {% for act in listAct %}
                        <td colspan="3" bgcolor="blue"><center><strong><span style="color:#FFFFFF">{{act.actividad.nombre}}</span></strong></center></td>
                    {% endfor %}
                {%endif%}
            {%endfor%}
            <td colspan="1" rowspan="2" bgcolor="blue"><center><strong><span style="color:#FFFFFF">DONE</span></strong></center></td>
           </tr>
           <tr>
               {%for key,listAct in dictAct.items%}
                    {% if key == flujo.nombre %}
                        {% for act in listAct %}
                             <td bgcolor="red"><strong><center>TO DO</center></strong></td>
                             <td bgcolor="yellow"><strong><center>DOING</center></strong></td>
                             <td bgcolor="chartreuse"><strong><center>DONE</center></strong></td>
                        {% endfor %}
                    {%endif%}
               {%endfor%}
           </tr>
            {%for flu,dictKanban in kanbanxflujo.items%}
                {% if flu == flujo.nombre %}
                    {%for key,uss in dictKanban.items%}
                        {%for key2,listanombre in uss.items%}
                            <tr>
                                {%for rec in listanombre%}
                                    {%if rec.0%}
                                        <td><div class="btn-group">
                                            <a href="/verUserHistory/ver&id={{key2}}/"><span style="color:#2702E1"><button type="button" class="btn btn-primary" >{{rec.0}}</button><button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"></a>
                                            <span class="caret"></span>
                                            <span class="sr-only"></span>
                                            </button>
                                            {% if not notSprintInit and not rec.2 == 'finalizado'%}
                                                <ul class="dropdown-menu" role="menu">
                                                <li><a href="/addComment/comment&id={{key2}}/"><span style="color:#2702E1">* AGREGAR TRABAJO</span></a></li>
                                                <li class="divider"></li>
                                                <li><a href="/archivosAdjuntos/adjuntos&id={{key2}}/"><span style="color:#2702E1">* ADJUNTAR ARCHIVOS</span></a></li>
                                                <li class="divider"></li>
                                                <li><a href="/cambiarEstados/us&id={{key2}}/"><span style="color:#2702E1">* CAMBIAR ESTADO KANBAN</span></a></li>
                                                <li class="divider"></li>
                                                <li><a href="/cambiarActividad/us&id={{key2}}/"><span style="color:#2702E1">* CAMBIAR ACTIVIDAD EN KANBAN</span></a></li>
                                                {% for ultFlu, ultAct in dictUltAct.items %}
                                                    {% if ultFlu == flujo.nombre and ultAct.0.nombre == key and rec.1 == 'done' %}
                                                        <li class="divider"></li>
                                                        <li><a href="/finalizarUS/us&id={{key2}}/"><span style="color:#2702E1">* FINALIZAR USER HISTORY</span></a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            {%endif%}
                                            </ul>
                                        </div></td>
                                    {% else %}
                                        <td></td>
                                     {% endif %}
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
           {% endfor %}
</form>

   <div class="footer">
           <div class="volver">
               <a class="btn btn-primary" href="/verProyecto/ver&id={{proyecto.id}}"><strong> VOLVER </strong> </a>&nbsp;&nbsp;
           </div>
   </div>
{% endblock %}
